<!-- <h1>Word#game</h1>
<p>Find me in app/views/word/game.html.erb</p> -->

<div class="container">
  <h3>Welcome to the longest word-game!</h3>
  <h4>Here is your grid:</h4>

  <p><%=@grid%></p>
  <!-- <p><%= @grid.join("") %></p> -->
  <!-- <p><%=@start_time%></p> -->

  <form action="/score">
    <label for="quess">What's your best shot?</label>

    <div>
      <input type="text" id="word" name="attempt" placeholder="">
    </div>

    <div id="button">
      <input type="submit" value="Go!" class="btn btn-primary">
      <input type="hidden" name="start_time" value="<%= @start_time %>">
      <!-- convert grid to string from array, otherwise the array will be passed as string -->
      <input type="hidden" name="grid" value="<%= @grid.join("") %>">
    </div>
  </form>
</div>
